# Operators in Python

- Arithmetic Operators
- Comparison Operators
- Logical Operators
- Bitwise Operators
- Assignment Operators
- Membership Operators

In [1]:
# Aritmetic Operators

## Adition
print(3+5)

## Subtraction
print(25-8)

## Multiplication
print(3*5)

## Division
print(5/2)

## Floor Division
print(5//2)

## Modulus
print(5%2)

## Exponentiation
print(5**2)

8
17
15
2.5
2
1
25

In [2]:
# Comparison Operators

## Greater than
print(4>5)

## Less than
print(4<5)

## Greater than and equal to
print(4>=4)

## Less than and equal to
print(4<=4)

## Equal
print(4==4)

# Not equal to
print(4!=4)

False
True
True
True
True
False

In [4]:
# Logical Operators
## and 	Returns True if both statements are true
print(1 and 0)

## or	Returns True if one of the statements is true
print(1 or 0)

## not	Reverse the result, returns False if the result is true
print(not 1)

0
1
False

In [14]:
# Bitwise Operators

# Decimal numbers and their binary values:
# 0 = 0000000000000000
# 1 = 0000000000000001
# 2 = 0000000000000010
# 3 = 0000000000000011
# 4 = 0000000000000100
# 5 = 0000000000000101
# 6 = 0000000000000110
# 7 = 0000000000000111

## AND:	Sets each bit to 1 if both bits are 1
print(6 & 3)

## OR: Sets each bit to 1 if one of two bits is 1
print(6 | 3)

## XOR:	Sets each bit to 1 if only one of two bits is 1
print(6 ^ 3)

## NOT:	Inverts all the bits
print(~ 3)

## Zero fill left shift:	Shift left by pushing zeros in from the right and let the leftmost bits fall off
print(3 << 2)

## 	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off
print(3 >> 2)

2
7
5
-4
12
0

In [16]:
## Assignment Operators

x = 5

## x = x+3
x += 3

print(x)

8

In [18]:
# Membership Operators

## not in: Returns True if a sequence with the specified value is not present in the object
print('A' not in 'Australia')

## in: Returns True if a sequence with the specified value is present in the object
print(1 in [2,3,4,5,6])

False
False

In [24]:
# Challenge: Find the sum of a 3 digit number entered by the user

number = int(input('Enter a 3 digit number: '))

# 345%10 -> 5
a = number%10

number=number//10

# 345%10 -> 4
b = number%10

number=number//10

# 345%10 -> 3
c = number%10

print(a + b + c)

Enter a 3 digit number: 345
12