# Python Basic Challenges

### Write a program that will convert celsius value to fahrenheit.

In [2]:
# Enter the temperature in celsuis
celsius_value = int(input("Enter the celsius degree temperature: "))

# converting celsius degree temperature to Fahrenheit
fahrenheit_value = celsius_value*1.8+32

# print results
print("The Fahrenheit equivalent of", celsius_value, "celsius = ", fahrenheit_value)

Enter the celsius degree temperature: 47
The Fahrenheit equivalent of 47 celsius =  116.60000000000001

### Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [7]:
# Take 2 numbers from user
fnum = int(input("Enter the first number: "))
snum = int(input("Enter the second number: "))

# Create a temporary variable to store the value of first number and swap the numbers
a = fnum
fnum = snum
snum = a

print("The value of first number after swapping it with second number:", fnum)
print("The value of second number after swapping it with first number:", snum)

Enter the first number: 43
Enter the second number: 34
The value of first number after swapping it with second number: 34
The value of second number after swapping it with first number: 43

### Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [13]:
# Points for co-ordinate X
x1 = int(input("Enter the first point of the coordinate X: "))
x2 = int(input("Enter the second point of the coordinate X: "))

# Points for co-ordinate Y
y1 = int(input("Enter the first point of the coordinate Y: "))
y2 = int(input("Enter the second point of the coordinate Y: "))

# Euclidean distance formula
e_dist = ((x2-x1)**2 + (y2-y1)**2)**(1/2)

# Print result
print("The euclidean distance between two coordinates is: ", round(e_dist,2))

Enter the first point of the coordinate X: 5
Enter the second point of the coordinate X: 10
Enter the first point of the coordinate Y: 20
Enter the second point of the coordinate Y: 35
The euclidean distance between two coordinates is:  15.81

### Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [10]:
# User input
principal_amt = int(input("Enter the principal amount: "))
roi = int(input("Enter the rate of interest: "))
time_period = int(input("Enter the time period (in years): "))

# Simple interest
si = (principal_amt*roi*time_period)/100

print("The simple interest is: ", round(si,2))

Enter the principal amount: 50000
Enter the rate of interest: 4
Enter the time period (in years): 2
The simple interest is:  4000.0

### Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [17]:
n = int(input("Enter the number to get sum of sqaures of first n natural numbers: "))

ss_numbers = n*(n+1)*(2*n+1)/6

print("Sum of squares of first", n, "natural numbers is", ss_numbers)

Enter the number to get sum of sqaures of first n natural numbers: 3
Sum of squares of first 3 natural numbers is 14.0

### Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [18]:
n1 = int(input("Enter the first term: "))
n2 = int(input("Enter the second term: "))
n = int(input("Enter the number of terms: "))

d = n2-n1

arithmetic_series = n1 + (n - 1)*d

print("The",  n, "th term of the arithmetic series is: ", arithmetic_series)

Enter the first term: 4
Enter the second term: 8
Enter the number of terms: 34
The 34 th term of the arithmetic series is:  136

### Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [20]:
n1 = int(input("Enter the numerator value for first fraction: "))
d1 = int(input("Enter the denominator value for first fraction: "))

n2 = int(input("Enter the numerator value for second fraction: "))
d2 = int(input("Enter the denominator value for second fraction: "))

num_value = n1*d2 + n2*d1
den_value = d1*d2

print("The sum of",'{}/{}'.format(n1, d1), "and", '{}/{}'.format(n2, d2),"is",'{}/{}'.format(num_value, den_value))

Enter the numerator value for first fraction: 3
Enter the denominator value for first fraction: 5
Enter the numerator value for second fraction: 4
Enter the denominator value for second fraction: 7
The sum of 3/5 and 4/7 is 41/35

### Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [25]:
# Dimensions of the milk tank
height_mt = float(input("Enter the height of milk tank: "))
len_mt = float(input("Enter the length of milk tank: "))
breath_mt = float(input("Enter the breath of milk tank: "))

# Dimension of glass
height_glass = float(input("Enter the height of the glass: "))
radius_glass =  float(input("Enter the radius of the glass: "))

# Volume of milk tank
volume_mt = height_mt*len_mt*breath_mt

# Volume of glass
vol_glass = 3.14*height_glass*radius_glass*radius_glass

import math
number_of_glass = math.floor(volume_mt/vol_glass)
print("The total number of milk glasses can be obtained are: ", number_of_glass)

Enter the height of milk tank: 15
Enter the length of milk tank: 7
Enter the breath of milk tank: 2
Enter the height of the glass: 4
Enter the radius of the glass: 2
The total number of milk glasses can be obtained are:  4