## **1. print() Function**

Python print() function prints the message to the screen

In [1]:
# Print a text
print("Hello World!")

Hello World!

In [2]:
# Print two messages, and specify the separator:
print("Hello", "how are you?", sep=" --- ")

Hello --- how are you?

In [3]:
# This print() function ends with "-" as set in the end argument.
print ("Hello", end= "-")
print("World")

Hello-World

## **2. Variables**

Variables are containers for storing data values. It is created the moment you first assign a value to it.

In [4]:
# Creating variables

x = "Australia"
print(x)

Australia

In [5]:
# CASTING VARIABLE: When we want to specify the data type of a variable.

x = str(45)
y = float(45)
z = int(45)

print(x, y, z)

45 45.0 45

In [6]:
# Get the data type of a variable with the type() function.

x = 'Jake'
print(type(x))

<class 'str'>

In [7]:
# Assign values to multiple variables in one line
x, y, z = "Apple", "Banana", "Orange"
print(x,y,z)

Apple Banana Orange

In [8]:
x = 5
y = 10

# + works as a mathematical operator:
print(x + y)

15

## **3. Data Types**

Variables can store data of different types.

In [9]:
# Print the data type of variable x

## String
x = "Hello World"
print(type(x))
print(x)

<class 'str'>
Hello World

In [10]:
## Integer
x = 20
print(type(x))
print(x)

<class 'int'>
20

In [11]:
## Float
x = 20.5
print(type(x))
print(x)

<class 'float'>
20.5

In [12]:
## Complex
x = 8 + 1j
print(type(x))
print(x)

<class 'complex'>
(8+1j)

In [13]:
## List
x = ["apple", "1", "fruit"]
print(type(x))
print(x)

<class 'list'>
['apple', '1', 'fruit']

In [14]:
## Tuple
x = ("apple", "1", "fruit")
print(type(x))
print(x)

<class 'tuple'>
('apple', '1', 'fruit')

In [15]:
## Set
x = {"apple", "1", "fruit"}
print(type(x))
print(x)

<class 'set'>
{'1', 'fruit', 'apple'}

In [16]:
## Dictionary
x = {"Name": 'Jaspreet', "Age": 22}
print(type(x))
print(x)

<class 'dict'>
{'Name': 'Jaspreet', 'Age': 22}

In [17]:
## Range
x = range(6)
print(type(x))
print(x)

<class 'range'>
range(0, 6)

## **4. User Input**

We can ask the user for input.

In [18]:
# take the input from the user and store in a variable
username = input("Enter your name: ")

# print result
print(username)

Enter your name: jaspreet
jaspreet

In [19]:
# take the number from the user and store them in a variable

fnum = input("Enter first number: ")
snum = input("Enter second number: ")

# add the two variables
# we change the data type to int as it will take as string by default
result = int(fnum) + int(snum)

# print the result
print(result)

Enter first number: 3
Enter second number: 45
48